<!DOCTYPE HTML>
<html lang="zh_CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>众筹商家后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="goCreate/css/index2.css"/>
    <link rel="stylesheet" href="goCreate/css/base.css"/>
    <link rel="stylesheet" href="goCreate/css/my-z.css"/>
    <style>
        .pingce-container .pingce-xieyi .context .list span, .zpopoup-xieyi .pingce-xieyi .context .list span {
            width: auto !important;
            height: auto !important;
            line-height: auto !important;
            padding: 2px !important;
        }
    </style>
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-inner pr">
        <div class="header-logo">
            <a href="//z-dm.jd.com/" style="color: #FFF;">
                <h1>京东众筹商家后台管理系统</h1>
            </a>
        </div>
        <div class="sign-out">
            <div id="newLoginbar" class="user-name fl"><a class="link-user">jd_54d8eea5772ab</a>&nbsp;&nbsp;<a
                    href="//biz.jd.com/login/toLogout.do?return=z-dm.jd.com" class="link-logout">退出</a></div>
        </div>
        <div class="header-nav">
            <ul>
                <li><a clstag="pageclick|keycount|zcprojectsystem_201509071|2" target="_blank"
                       href="//z.jd.com/new.html">众筹首页</a></li>
                <li><a clstag="pageclick|keycount|zcprojectsystem_201509071|1" target="_blank"
                       href="//z-dm.jd.com/funding/goCreate.html">发起众筹</a></li>
                <li><a clstag="pageclick|keycount|zcprojectsystem_201509071|4" target="_blank"
                       href="//ur.jr.jd.com/survey/show?id=137&amp;u=http%3A%2F%2Ftrade.z.jd.com%2Ffunding%2FmyCrowdfunding.action">问题反馈</a>
                </li>
            </ul>
        </div>
        <div class="cb"></div>
    </div>
</div>
<!--wrap-->
<div class="wrap">
    <div class="business-container">
        <div class="wanebox">
            <div class="wanecon">
                <p></p>
                <div class="Section1" style="layout-grid:15.6pt">
                    <style type="text/css">.wanebox ol li {
                        line-height: 25px;
                    }
                    </style>
                    <p align="center"><span style="font-size: 16px;"><strong>京东众筹平台发起人协议</strong></span></p>

                    <p><strong>本协议已对与您（指拟使用众筹平台发起众筹项目的法律实体）的权益有或可能具有重大关系的条款，及京东具有或可能具有免责或限制责任的条款用粗体字予以标注。在您接受本服务，或您以其他京东允许的方式实际使用本服务前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意遵循本协议之所有约定。<br>
                        您同意，京东有权随时对本协议或本服务网站发布的其他服务条款及操作规则的内容进行单方面的变更，并以在本服务网站公告的方式予以公布，无需另行单独通知您。如您在本协议内容公告变更后继续使用本服务，表示您已充分阅读、理解并接受变更后的协议内容，也将遵循变更后的协议内容使用本服务。如您不同意变更后的协议内容，您应停止使用本服务。</strong>
                    </p>

                    <p align="left"><strong>1. 术语和定义</strong></p>

                    <p align="left">除非本协议正文另有明确约定，在本协议中所用术语定义如下：</p>

                    <ol>
                        <li align="left">1.1 众筹：指发起人与支持者共同完成项目、实现梦想的行为。在这一过程中支持者出资支持发起人，发起人完成项目并按承诺向支持者发放回报。</li>
                        <li align="left">1.2 京东：北京奥都百升网络科技有限公司及其旗下子公司、分公司、分支机构或相关关联公司统称为“京东”，本协议中提及的应由
                            “京东”行使的权利和履行的义务，由“京东”内部负责相应区域及业务范围的公司分别履行。
                        </li>
                        <li align="left">1.3
                            京东众筹平台：指由京东运营和管理的，提供平台网络空间等技术服务的网络服务平台，包括但不限于域名为z.jd.com的众筹信息服务平台、京东关联方运营/管理的网络服务平台，及未来可能新设或合作的网络平台等。
                        </li>
                        <li align="left">1.4 发起人：指在京东众筹平台上发起众筹项目的自然人、法人或非法人组织。</li>
                        <li align="left">1.5 支持者：指出资支持众筹项目，与发起人一起实现梦想的自然人、法人或非法人组织。</li>
                        <li align="left">1.6 众筹期限：指发起人确定的众筹项目募集款项的时间。</li>
                        <li align="left">1.7 募集总金额：指众筹期限届满时所募集的款项总额。</li>
                        <li align="left">1.8 众筹募集成功：指项目众筹期限届满且达到预定募集金额。</li>
                        <li align="left">1.9 众筹失败：指众筹出现下列情形之一：
                            <ol>
                                <li align="left" value="9">（1） 众筹募集失败，即众筹期限届满但未达到预定募集金额；</li>
                                <li align="left" value="9">（2） 发起人由于能力限制、市场风险、法律风险等各种因素，在众筹期限届满前取消项目；</li>
                                <li align="left" value="9">（3） 发起人由于能力限制、市场风险、法律风险等各种因素，在众筹募集成功后明确表示无法发放回报。</li>
                            </ol>
                        </li>
                        <li align="left">1.10 项目成功结束：指发起人向支持者发放完所有回报产品。</li>
                        <li align="left">1.11 网银在线：指网银在线（北京）科技有限公司，为发起人和京东提供资金代收付服务的第三方支付机构。</li>
                        <li align="left">1.12
                            京东钱包账户：指发起人在使用网银在线提供的资金代收付服务时，网银在线提供的唯一识别服务编号，可设置密码，安装数字证书，并具体使用网银在线服务开展交易，查询交易产生的款项收付账务明细。
                        </li>
                    </ol>

                    <p align="left"><strong>2. 签约主体和效力范围</strong></p>

                    <ol>
                        <li align="left">2.1 本协议由京东与发起人共同签署，协议中约定应由京东享有的权利和履行的义务，可由京东内部相应职能及业务范围的相关公司分别享有或履行。</li>
                        <li align="left"><strong>2.2
                            京东仅为发起人和支持者之间的众筹行为提供网络空间、技术支持和系统维护等服务。京东作为平台方，并不是发起人或支持者中的任何一方，众筹仅存在于发起人和支持者之间，使用京东众筹平台产生的法律后果由发起人与支持者自行承担。京东不对发起人的任何口头、书面陈述或承诺，发布的信息及交易行为的真实性、合法性、准确性、及时性、有效性等作任何明示或暗示的保证，亦不承担任何法律责任。若发起人与支持者之间的行为引起的任何法律纠纷，与京东及/或其关联公司/机构无关。</strong>
                        </li>
                        <li align="left"><strong>2.3
                            本协议内容包括协议正文、附件及京东网站（包括但不限于www.jd.com及京东众筹平台）上已经发布和将来可能发布的各类规则（包括但不限于《京东众筹平台发起人管理规则》、《京东众筹回报服务规则》、操作流程。所有规则、流程为本协议不可分割的一部分，与本协议具有同等效力(另有特殊约定的除外)。</strong>
                        </li>
                        <li align="left"><strong>2.4
                            发起人勾选本协议或使用本协议项下服务的，即表示发起人同意与京东达成协议并接受本协议的所有内容，受本协议约束；此时发起人不得以未阅读理解本协议的全部内容等理由，主张本协议无效，或要求撤销本协议。</strong>
                        </li>
                        <li align="left"><strong>2.5
                            京东有权不时修改本协议及相关规则、流程，如本协议有任何变更，京东将以公示形式通知，修改后的协议内容及相关规则成为本协议的组成部分。发起人继续使用京东众筹平台服务的，即视为已阅读并接受修改后的协议，受协议内容的约束。</strong>
                        </li>
                        <li align="left"><strong>2.6
                            发起人应按照本协议要求行使权利、履行义务。发起人不能接受本协议约定，包括不能接受修改后的协议内容、相关规则、操作流程的，应立即停止使用京东众筹平台提供的各项服务。</strong>
                        </li>
                    </ol>

                    <p align="left"><strong>3. 众筹项目标准及项目回报规范</strong></p>

                    <ol>
                        <li align="left">3.1 项目应具有创新性质且具有可执行性，项目目标应当明确、具体、可衡量，如制作一个实物、拍一部微电影或完成一件艺术创作等。</li>
                        <li align="left">3.2 发起人不得在无实质项目内容的情况下单纯发起募捐，或发起类似“资助奖学金”、“资助我去旅游”等为满足发起人个人需求的众筹项目。</li>
                        <li align="left">3.3 项目不得含有以下内容：
                            <ol>
                                <li align="left" value="3">（1） 违反国家法律规定的违禁品，如毒品、枪支弹药及管制刀具相关；</li>
                                <li align="left" value="3">（2） 色情、赌博、暴力、恐怖、反动、政治与宗教相关；</li>
                                <li align="left" value="3">（3） 彩票、博彩相关；</li>
                                <li align="left" value="3">（4） 开办公司、网站、店铺等相关；</li>
                                <li align="left" value="3">（5） 其他国家法律规定和京东网站规定的禁限售等违禁品信息。</li>
                            </ol>
                        </li>
                        <li align="left">3.4 项目回报应当符合以下要求：
                            <ol>
                                <li align="left" value="4">（1） 应当明确、具体，并与项目具有关联性。</li>
                                <li align="left" value="4">（2） 不得包含股权、债券、利息、分红等具有投资回报性质的内容，也不得为现金或用于流通的货币。</li>
                            </ol>
                        </li>
                        <li align="left">3.5 众筹项目及其回报须符合法律法规的相关规定，京东有权根据众筹项目的实际情形对众筹项目和项目回报提出特殊证明要求。</li>
                    </ol>

                    <p align="left"><strong>4. 发起人资格及其行为规范</strong></p>

                    <ol>
                        <li align="left">4.1
                            发起人应当是京东平台的注册用户，并在发起项目前完成必要的身份认证和资质认证，发起人须提交依据法律规定其经营业务所必须的文件或证明并加盖发起人公章，包括但不限于营业执照、行政许可证、开户行证明、商标注册证、商标使用授权书、质检报告、报关单、检验检疫证书、产品来源地证明、法人、非法人组织法定代表人身份证正反面复印件等。如证明文件发生任何变更或更新时，发起人须立即通知京东，并于3个工作日内，提交更新后的文件。此外，发起人应在其从事经营活动的主页面醒目位置公开营业执照登载的信息或者其营业执照的电子链接标识。京东将根据申请发起的项目类型不同，对发起人需要满足的其他资格进行限定和要求，建立登记档案，并定期核验更新。
                        </li>
                        <li align="left"><strong>4.2
                            若发起人为自然人，应提交其姓名、地址、有效身份证明、有效联系方式等真实身份信息。如证明文件发生任何变更或更新时，发起人须立即通知京东，并于3个工作日内，提交更新后的文件。京东有权对发起人真实身份信息进行核验、登记，建立登记档案，并定期核验更新，核发证明个人身份信息真实合法的标记，发起人应将该标记加载在其从事经营活动的主页面醒目位置。</strong>
                        </li>
                        <li align="left">4.3 发起人应按照京东的要求开立账户，并按要求使用京东账号和收款账户。</li>
                        <li align="left">4.4
                            同一发起人在京东众筹平台仅能使用同一个京东账号发起众筹项目。如同一发起人使用不同京东账号，应向京东出具书面证明，证明不同京东账号归属于同一发起人并经京东同意。如发起人私自更换京东账号，造成的一切损失由发起人承担。
                        </li>
                        <li align="left">4.5
                            同一发起人发起不同众筹项目的，所有众筹项目的收款账户应保持一致，发起人在平台系统预留的银行账户视为接收所有款项的唯一指定账户。如同一发起人使用不同银行账户收款，应向京东出具书面证明，证明不同银行账户归属于同一发起人。如发起人私自变更收款账户，造成的一切损失由发起人承担。
                        </li>
                        <li align="left">4.6 不同发起人使用同一个京东账号发起众筹项目的，应向京东出具书面说明并经京东同意。不同的发起人应就彼此发起的所有项目承担连带责任。</li>
                        <li align="left">4.7 公益众筹的发起人应当是合法成立的公益组织，或与合法成立的公益组织开展合作，并在完成项目后的合理时间内上传筹款项用于公益用途的相关凭证。</li>
                        <li align="left"><strong>4.8
                            京东有权对发起人进行资质审核，该等资质审核仅为形式审核，不代表京东对发起人提交资质文件及各类信息资料真实性、合法性、准确性、及时性的确认，发起人仍应对其提交资料的真实性、合法性、准确性、及时性，以及项目页面陈述等承担相应的法律责任。在发生支持者投诉、行政机关机构调查、诉讼解决等事项时，发起人还应向京东提交与原件核对一致且加盖发起人公章的纸质复印件。</strong>
                        </li>
                        <li align="left"><strong>4.9
                            发起人应提交真实、准确的项目资质信息及众筹产品信息，不得含有虚假或者引人误解的内容，不得欺骗、误导支持者（项目信息如有任何更新，应及时向京东众筹平台提交更新后的信息），并自主上传、发布项目。发起人保证上述证明文件发生任何变更或更新时立即通知京东，并于十五个工作日内，提交更新后的文件。京东有权根据申请发起的项目类型不同，对发起人需要满足的其他资格和行为规范进行限定和要求。</strong>
                        </li>
                        <li align="left"><strong>4.10
                            发起人应妥善保管京东众筹平台的账号和密码，任何情况下发起人须对在该账号下发生的所有操作（包括但不限于信息披露、发布信息、上传图片或视频、网上点击同意或提交各类规则协议等）承担法律责任。</strong>
                        </li>
                        <li align="left"><strong>4.11 发起人应自行承担准备或发布、完成项目而发生的费用，自行缴纳因从事本协议项下行为而产生的相应税款。</strong></li>
                        <li align="left"><strong>4.12
                            发起人应当在京东众筹平台公示其营业执照信息、行政许可信息、属于不需要办理市场主体登记情形等信息,或者上述信息的链接标识，并授权京东为保护支持者利益使用发起人在京东网站留存的全部资料（包括但不限于发起人留存的认证信息）。</strong>
                        </li>
                        <li align="left">4.13 项目开始众筹后，发起人除非存在保护支持者利益等特殊理由，否则不得修改项目页面的实质内容（如产品功能、规格等）。</li>
                        <li align="left">4.14
                            众筹期限内发起人因故需取消项目导致众筹失败的，需向京东提交取消申请，京东审核通过后项目取消，所有已筹集到的众筹款项将由系统退回给支持者，募集款项在3个工作日内支付给支持者，具体收款时间以银行处理系统时间为准。
                        </li>

                        <li align="left">4.15 发起人应严格按照项目计划执行，并登录京东众筹管理后台完成如下义务：
                            <ol>
                                <li align="left" value="2">（1） 每周及时、主动、自行更新项目进展并保证更新质量；</li>
                                <li align="left" value="2">（2） 发生与支持者权益相关的事项应当在24小时内更新项目进展情况，前述事项包括但不限于修改项目内容、延迟发货等；
                                </li>
                                <li align="left" value="2">（3） 提供一个对外客服电话，保证通信畅通，以便及时处理纠纷；</li>
                                <li align="left" value="2">（4） 对话题区进行维护管理，对京东用户的留言应在24小时内回复；</li>
                                <li align="left" value="2">（5） 接入平台即时通讯工具（即“咚咚”），遵守众筹咚咚服务要求和规则；</li>
                                <li align="left" value="2">（6） 支持者申请取消订单的，应在24小时内审核取消申请并向支持者反馈结果；</li>
                                <li align="left" value="2">（7） 在承诺时间内发货并在发货当日导入快递单号；</li>
                                <li align="left" value="2">（8） 在收到管理后台待办事项通知的24小时内处理完毕；</li>
                                <li align="left" value="2">（9） 根据本协议及平台规则需承担的其他义务。</li>


                            </ol>
                        </li>
                        <li align="left"><strong>4.16
                            发起人应按照承诺发放项目回报应当符合保障人身、财产安全的要求，不得提供法律、行政法规禁止交易的商品或者服务，对其提供的商品承担质量保证责任。（项目衍生成果及/或相关实物、服务，为支持者开具发票等），发放的项目回报应无质量或权利瑕疵，遵守关于无理由退货方面的相关法律法规的规定。如因项目回报发生纠纷，须按法律法规、《京东众筹回报服务规则》及平台公布的其他相关规定，由发起人与支持者进行沟通解决。</strong>
                        </li>
                        <li align="left">4.17
                            发起人应严格按照其承诺及《京东众筹回报服务规则》约定的规则履行回报义务。如项目因故可能产生延期或无法按原定项目计划执行的，发起人应及时通过京东众筹平台及其他途径告知支持者并承担相应的责任。
                        </li>
                        <li align="left">4.18
                            发起人应遵守公平竞争、诚实信用原则，不得通过任何手段、以任何方式自行或者委托他人进行如下行为（包括但不限于虚假交易、自买自卖、伪造网络用户真实消费、体验、刷单、虚假发货等其他违反国家法律、法规和平台规则的行为），否则，京东有权解除合同，并要求发起人承担由此给京东造成的全部损失。
                        </li>
                        <li align="left">4.19 发起人应严格遵守反洗钱相关的法律法规，京东在发现可疑交易信息时，有权向有关部门报告。</li>
                        <li align="left">4.20 若发起人收款账户信息变更，应提前10个工作日通知京东，否则，因发起人变更账户造成货款支付失败、迟延或错误，损失由发起人自行承担。</li>
                        <li align="left">4.21 发起人自行负责回报产品的物流配送，因物流配送导致的损失或纠纷由发起人自行承担责任。</li>

                        <p align="left"><strong>5. 发起人承诺和保证</strong></p>
                        <ol>
                            <li align="left" value="3"><strong>5.1
                                发起人保证订立本协议和在发起人管理系统提出申请是发起人真实意思表示，保证其具有足够资格订立本协议，其代理人（包括所有操作商家管理系统的人员和项目运营所需的全部雇员、职员、管理者）已获得充分授权，并对代理人的行为承担法律责任，同时发起人保证对其雇员、联系人及其他发起人委派的履行本协议的人员的行为承担连带法律责任。</strong>
                            </li>
                        </ol>
                        <ol>

                            <li align="left">5.2 发起人承诺在京东众筹平台发起众筹项目时，同时满足以下各条件：
                                <ol>
                                    <li align="left" value="1">（1）
                                        发起人已依照中华人民共和国法律注册并领取合法有效的营业执照及取得其他经营许可，身份信息应为商家自身情况的客观表现；
                                    </li>
                                    <li align="left" value="1">（2） 发起人经营的商品来源合法，资质齐全，不侵犯第三方合法权益；</li>
                                    <li align="left" value="1">（3） 发起人提交的任何信息均真实、合法、有效，所使用的图片、文字等不侵犯任何第三方合法权益；</li>
                                    <li align="left" value="1">（4） 发起人自愿签署并严格履行本协议；</li>
                                    <li align="left" value="1">（5） 京东依据法律法规等要求及经营需要可能设定的其他条件。</li>
                                </ol>
                            </li>
                            <li align="left" value="2">5.3
                                发起人承诺不得利用平台从事任何违反法律法规或侵犯任何第三方权利的行为，包含但不限于不得自行或允许任何第三方使用发起人的账号通过京东众筹平台从事与下述相关的行为或发布与下述相关的信息：
                                <ol>
                                    <li align="left" value="2">（1） 侵犯任何第三方的专利、商标、著作权、商业秘密、肖像权或其他合法权利，或违反任何法律或合同的；</li>
                                    <li align="left" value="2">（2） 发起人的行为或项目信息是虚假的、误导性的、不准确的；</li>
                                    <li align="left" value="2">（3）
                                        发起人的行为或项目信息涉嫌非法、威胁、辱骂、骚扰、诽谤、中伤、欺骗、欺诈、侵权、淫秽、冒犯、亵渎或侵犯他人隐私的；
                                    </li>
                                    <li align="left" value="2">（4） 未经接收方允许而向接收方发布任何邮件、宣传材料或广告信息；</li>
                                    <li align="left" value="2">（5） 进行任何危害信息网络安全的行为，故意传播恶意程序或病毒以及其他破坏、干扰正常网络信息服务的行为。</li>
                                </ol>
                            </li>
                            <li align="left" value="3">5.4 发起人承诺维护支持者的独家权益，并在众筹项目运营管理中不从事以下行为：</li>
                            <ol>
                                <li align="left" value="2">（1）
                                    在众筹前、众筹募集期间以及众筹项目成功结束之日起30天内，众筹产品在其他任一平台进行众筹或销（预）售（无论是否是以发起人名义进行的众筹或者销（预）售）；
                                </li>
                                <li align="left" value="2">（2） 项目回报量产后没有最先发放给该项目的支持者；</li>
                                <li align="left" value="2">（3）
                                    自项目开始众筹之日起至项目成功结束之日止，在项目页面、推广宣传和提供的回报实物（服务）中，使用任何其他平台或与其他平台标识相混淆的标识，该标识包括但不限于其他平台及平台商家的名称、商标、专属符号和图像、二维码、包装、装潢。
                                </li>
                            </ol>
                            <li align="left">5.5 对于发起人通过京东众筹平台发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议的信息，京东有权根据法律规定采取屏蔽、删除等技术处理。</li>
                            <li align="left"><strong>5.6
                                发起人保证不将从京东平台获取的任何数据用于本协议约定以外的用途，同时保证未经京东许可不得擅自获取、使用、传播京东平台的任何资料，包括但不限于交易数据、用户信息、支付信息、京东其他用户展示于京东平台的信息等。</strong>
                            </li>
                        </ol>

                        <p align="left"><strong>6. 京东众筹平台运营规则</strong></p>
                        <ol>
                            <li align="left"><strong>6.1
                                京东有权审查、记录、保存在平台上发布的发起人的商品和服务信息内容及其发布时间。京东有权保存发起人的营业执照或者个人真实身份信息记录保存时间两年（从发起人在京东众筹平台的登记注销之日起计算），商品和服务信息、交易信息保存时间自交易完成之日起三年。法律、行政法规另有规定的，从其规定。</strong>
                            </li>
                            <li align="left">6.2
                                京东有权为支持者提供公平、公正、客观的信用评价服务，对发起人的信用情况进行公正、客观地采集与记录，建立信用评价体系、信用披露制度以警示交易风险。
                            </li>
                            <li align="left">6.3
                                京东依据平台服务协议和交易规则对发起人虚构交易（包括但不限于套现、刷单）、编造用户评价等违反法律、法规的行为实施警示、暂停或者终止服务等措施，并有权及时公示。
                            </li>
                            <li align="left">6.4 京东有权建立各项交易规则，保护支持者的权益，各项制度及规则将在京东众筹平台进行公示。</li>
                            <li align="left">6.5 京东应当采取技术措施和其他必要措施保证其网络安全、稳定运行，防范网络违法犯罪活动，有效应对网络安全事件，保障交易安全。</li>
                            <li align="left">6.6
                                如因京东过错导致发起人无法使用京东众筹平台的，京东应当立即采取补救措施将发起人的影响及损失降至最低，并在合理期限内尽快恢复，并对因此给发起人造成的直接损失承担赔偿责任。
                            </li>
                            <li align="left">6.7
                                发起人保证通过合法渠道获取并仅为众筹目的使用京东用户信息，承诺不会泄露、出售或者非法向他人提供众筹交易活动中取得的京东用户个人信息。发起人保证不在违背京东用户真实意愿或未通过京东审核的前提下，向京东用户发送任何性质的商品推荐、推广信息等。
                            </li>
                            <li align="left"><strong>6.8
                                京东有权对发起人提供的回报产品进行定期或不定期的抽查、核查、鉴定。如果发起人提供的回报商品抽检不合格或无法向京东提供相关回报商品及批次质量合格的证明文件，京东有权提出相应的限期整改要求。发起人必须配合限期整改及根据京东的要求进行指定商品的第三方检测，并完全承担因此产生的所有费用。</strong>
                            </li>
                            <li align="left"><strong>6.9
                                京东有权引入银行或其他第三方支付机构提供结算等服务，发起人应按要求与京东合作银行或其他第三方支付机构签署可能存在的相关协议，办理开通手续。</strong></li>
                        </ol>
                        <ol>
                            <li><strong>7. 募集款项交付、平台服务费</strong></li>
                            <li align="left">7.1
                                发起人同意通过网银在线完成募集款项和平台技术服务费的收付，即通过网银在线将募集款项结算至发起人的京东钱包账户，并从发起人的京东钱包账户中扣收相应的平台技术服务费至京东账户。
                            </li>
                            <li>7.2 发起人使用京东众筹平台的技术服务，发起人同意按照京东众筹平台公示链接（https://zbbs.jd.com/portal.php?mod=topic&amp;topicid=19），向京东支付平台技术服务费等费用。若发起人与京东众筹平台有特殊约定，按照后续更新的标准或补充协议中确定的标准向京东支付平台技术服务费等费用。
                                <ol>
                                    <li value="2">
                                        （1）众筹募集失败，或众筹期限内发起人取消项目导致众筹失败的，不收取服务费。众筹募集成功后，支持者要求退款，或因发起人自身原因无法发放回报产品导致众筹最终失败，或存在其他纠纷的，不影响京东收取的服务费。发起人与京东另有约定的除外。
                                    </li>
                                    <li value="2">
                                        （2）发起人不得通过任何手段、以任何方式自行或者委托他人进行虚假交易等其他违反京东平台规则的行为，一经发现，京东有权按照真实、客观的募集总金额收取平台服务费，并终止与发起人的合作。
                                    </li>
                                    <li value="2">（3） 项目成功结束后，京东按照实际收取的平台技术服务费（扣除协议约定减免费用后的金额）向发起人开具合法发票。</li>
                                </ol>
                            </li>
                            <li>7.3发起人应根据平台公布的各项规则结算和使用众筹款项，若发起人与京东众筹平台有特殊约定，按照后续更新的标准或补充协议中确定的标准。
                                <ol>
                                    <li value="2">（1） 众筹募集成功后，发起人同意并授权京东向网银在线发送冻结或解冻发起人京东钱包账户的指令。</li>
                                    <li value="2">（2）
                                        众筹募集成功、支持者确认收到众筹产品且已经过无理由退换货时限（即支持者收到产品之日起15日内）后，发起人最高可使用的众筹金额为：已确认收货的众筹产品订单金额×（1-平台技术服务费率-质保金费率）。
                                    </li>
                                    <li value="2">（3）
                                        若众筹产品产生退换货、退款、客诉、物流异常、风险订单、发起人履约能力、以及众筹项目风险等情况，相应订单的应结算金额将在前述问题解决之后再行结算。
                                    </li>
                                    <li value="2">（4）
                                        为保证支持者权益，每个众筹项目募集总金额的5%（即尾款）将作为质保金（质保金总额不少于五千元，若该项目质保金金额不足五千元，按照五千元收取）。质保金当项目符合《众筹项目结算规则及流程》（https://zbbs.jd.com/thread-309728-1-1.html）中关于质保金的相关规定时，发起人可使用质保金，质保金在冻结期间不产生利息和任何收益。
                                    </li>
                                </ol>
                            </li>
                            <li align="left">7.4
                                根据市场与技术的发展，京东保留变更服务费费率和质保金费率的权利。在变更前，京东将以适当的方式通知发起人变更情况，包括但不限于在京东网站上公示。发起人有权选择接受或拒绝接受，如果发起人选择拒绝的，应立即停止使用京东众筹平台的服务；发起人继续使用京东众筹平台的，即视为发起人同意京东的费用变更。该变更后的收费比例对已经发布的项目无溯及力。
                            </li>


                            <p align="left"><strong>8. 违约责任</strong></p>
                            <li>8.1
                                发起人应遵守本协议的约定，对于京东系统或邮箱推送的客诉纠纷及其他事项应及时处理，发起人应指定一个邮箱用于接收工单，并应自京东发出电子邮件之时起3个工作日内将工单处理完毕并将处理结果同步回复给京东。
                            </li>
                            <li>8.2 因发起人原因导致众筹失败的，京东将视情况有权不再与发起人合作。</li>
                            <li>8.3若发起人违反5.4（1）条，发起人应向京东支付违约金五万元。</li>
                            <li>8.4发起人严重违反本协议、京东众筹平台规则或违反国家法律法规规定的，京东将终止与发起人在现阶段和未来的一切合作，如涉嫌犯罪，京东将移送司法机关处理。</li>
                            <li><strong>8.5如发起人的行为使京东及/或其关联公司遭受第三人主张权利，京东及/或其关联公司有权在对第三人承担金钱给付等义务后就全部损失向发起人追偿。
                                如因发起人怠于履行相应义务导致第三人遭受损失，京东及/或其关联公司为保护支持者利益或者社会公共利益，有权通过网银在线自发起人的京东钱包账户中划扣相应款项进行赔偿，包括但不限于京东对终端客户的赔偿、行政罚款、为避免损失扩大的支出费用如律师费、交通费、工作人员薪资、名誉损失及京东为主张这些权利而发生的全部费用。若发起人的京东钱包账户余额不足以支付相应款项的，发起人同意京东可以使用自有资金代发起人支付上述赔偿，发起人应当返还该部分费用并赔偿因此造成京东的全部损失。</strong>
                            </li>
                            <li><strong>8.6发起人不可撤销地同意并授权京东可以通过网银在线自发起人的京东钱包账户中划扣相应款项支付上述赔偿款项。若发起人京东钱包账户中的款项不足以支付上述赔偿款项的，京东及/或关联公司可直接从发起人在京东及/或其关联公司其它协议项下的权益中进行抵扣。</strong>
                            </li>
                            <li><strong>8.7发起人若违反有关法律或者本协议之约定使京东及/或京东的关联公司遭受损失，或受到第三方权利人的索赔，或受到监管部门的处罚，发起人应当赔偿京东因此遭受的损失及/或发生的费用，包括但不限于京东对终端客户的赔偿、行政罚款、为避免损失扩大的支出费用如律师费、交通费、工作人员薪资、名誉损失及京东为主张这些权利而发生的全部费用。京东及/或关联公司可直接从发起人在京东及/或其关联公司其它协议项下的权益中进行抵扣。</strong>
                            </li>
                            <li>
                                <strong>8.8若发起人延迟发货超过三十个自然日，为保护支持者的利益，京东有权自行或委托第三方机构对众筹项目进行核实，发起人应予以配合，由此产生的费用由发起人承担。</strong>
                            </li>
                            <li><strong>8.9除本协议另有约定外，任何一方违反其于本协议项下的陈述、保证或承诺，而使另一方遭受任何诉讼、纠纷、索赔、处罚等的，违约方应负责解决，使另一方发生任何费用、额外责任或遭受经济损失的，应当负责赔偿。如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，要求其消除影响。如违约方未能按时停止违约行为，则守约方有权立即终止本协议。如因京东自身原因造成发起人的损失，京东向发起人承担的最大总体责任和赔偿限额不应超过在本协议项下京东已向发起人收取的平台服务费总额。</strong>
                            </li>


                            <p align="left"><strong>9. 知识产权</strong></p>
                            <li>9.1发起人承诺通过京东众筹平台发布、上传的所有内容拥有合法权利，不侵犯任何第三方的肖像权、隐私权、专利权、商标权、著作权等合法权利及其他合同权利。</li>
                            <li>
                                9.2发起人通过京东众筹平台发布、上传的任何内容，发起人授予京东及其关联公司非独家的、可转授权的、不可撤销的、全球通用的、永久的、免费的许可使用权利，并可对上述内容进行修改、改写、改编、发行、翻译、创造衍生性内容及/或可以将前述部分或全部内容加以传播、表演、展示，及/或可以将前述部分或全部内容放入任何现在已知和未来开发出的以任何形式、媒体或科技承载的作品当中。
                            </li>
                            <li>
                                9.3京东向发起人提供的服务含有受到相关知识产权及其他法律保护的专有保密资料或信息，亦可能受到著作权、商标、专利等相关法律的保护。未经京东或相关权利人书面授权，发起人不得修改、出售、传播部分或全部该等信息，或加以制作衍生服务或软件，或通过进行还原工程、反向组译及其他方式破译原代码。
                            </li>
                            <li><strong>10. 协议终止及争议解决</strong></li>
                            <li><strong>10.1在下列情况下，京东有权利对发起人的交易行为以及与交易有关的其它事项进行审查，并可以单方全部或部分中止或终止履行本协议的义务或提供本协议项下的服务，直至解除本协议:</strong>
                                <ol>
                                    <li value="2"><strong>（1） 第三方通知或京东自行发现发起人发起的项目违反法律法规、监管政策或京东平台的规定；</strong></li>
                                    <li value="2"><strong>（2） 第三方告知或京东自行发现平台上存在违法或不当行为的；</strong></li>
                                    <li value="2"><strong>（3） 发起的项目将引发或可能引发京东运营的重大风险；</strong></li>
                                    <li value="2"><strong>（4） 发起的项目存在或可能存在明显危害支持者利益的风险；</strong></li>
                                    <li value="2"><strong>（5） 因不可归责于京东的原因造成项目无法继续进行或项目回报无法实现的。</strong></li>

                                </ol>
                            </li>
                            <li align="left">
                                10.2本协议终止后，京东有权保留发起人的注册信息及交易行为记录等数据，但非在法律法规要求保存范围内的数据，京东没有为发起人保留，亦不承担在协议终止后向发起人或第三方转发任何未阅读或未发送的信息的义务，也不就协议终止向发起人或任何第三方承担责任。
                            </li>
                            <li align="left">
                                10.3本协议的终止，并不免除发起人依据本协议应向支持者承担的售后服务及产品保证责任，发起人仍应按照协议约定履行售后服务义务及产品质量保证责任；如因发起人产品质量问题或售后服务问题而导致京东或其他第三方人身或财产损失的，发起人仍应独立承担全部责任。
                            </li>
                            <li align="left">
                                10.4本协议终止后，如发生京东收到有关发起人的行政机关调查、因发起人产生诉讼等情形的，发起人需积极配合京东处理，如因此导致京东损失的，发起人应独立承担全部责任。
                            </li>


                            <li><strong>11. 通知及送达</strong></li>
                            <li align="left">
                                11.1京东针对所有发起人的技术服务费收费标准变更、规则变更、通知等将以京东出众平台公告形式告知发起人，公告一经发布，即视为送达，发起人应实时关注公告内容。
                            </li>
                            <li align="left"><strong>11.2除法律法规或监管规定另有强制性规定外，本合同履行过程中，京东向发起人发送书面通知的，按照发起人向京东出众平台提供的通讯地址交邮后的第三个自然日即视为送达；书面通知的形式还包括但不限于在京东出众平台发布公告、向发起人发送电子邮件、京东站内信、系统信息、联系人手机短信和传真等电子方式，在采用电子方式进行书面通知的情况下发送当日即视为送达。发起人应保证提供的联系地址、联系人、联系电话真实、准确、有效，如信息变更应立即在京东平台系统更新，若发起人未及时更新的，向原地址送达的仍视为有效送达地址。 </strong>
                            </li>

                            <li><strong>11.3法律文书送达</strong>
                                <ol>
                                    <li value="2"><strong>（1）
                                        对于因合同争议引起的任何纠纷，发起人声明法院或仲裁机构可以手机短信或电子邮件等现代通讯方式或邮寄方式向发起人送达法律文书（包括诉讼文书）。法院向前述地址发出法律文书即视为送达，发送当日即为送达之日。</strong>
                                    </li>
                                    <li value="2"><strong>（2）
                                        发起人同意法院可采取以上一种或多种送达方式向发起人送达法律文书，法院采取多种方式向发起人送达法律文书，送达时间以上述送达方式中最先送达的为准。</strong>
                                    </li>
                                    <li value="2"><strong>（3）
                                        发起人应保证前述第11.2项约定的联系信息，如果提供的送达地址不确切，或不及时告知变更后的地址，或拒绝签收等原因，导致法律文书未能被发起人实际接收的，邮寄送达的，以文书退回之日视为送达之日；直接送达的，送达人当场在送达回证上记明情况之日视为送达之日；履行送达地址变更通知义务的，以变更后的送达地址为有效送达地址。</strong>
                                    </li>
                                    <li value="2"><strong>（4）
                                        纠纷进入仲裁、民事诉讼程序后，如发起人应诉并直接向仲裁机构、法院提交送达地址确认书，该确认地址与诉前确认的送达地址不一致的，以向仲裁机构、法院提交确认的送达地址为准（该送达地址适用法律文书送达方式及送达的法律后果）。</strong>
                                    </li>

                                </ol>
                            </li>
                            <p align="left"><strong>12. 其他</strong></p>
                            <li>12.1本协议有效期自项目上线之日起生效，至项目成功结束且双方没有任何争议或争议解决完毕之日止。</li>
                            <li>12.2本协议及本协议项下的所有行为均适用中华人民共和国法律。</li>
                            <li>
                                12.3协议双方因本协议的签订、履行或解释发生争议的，应努力友好协商解决。如协商不成，任何一方均应向合同签约地有管辖权的人民法院提起诉讼。本协议签订地为中华人民共和国北京市大兴区。
                            </li>
                            <li>12.4附件是本协议不可分割的整体，并与本协议正文具有同等法律效力。</li>

                            <ul>
                                <li align="center"><strong>本协议于 2019 年 09 月 17 日 修订，2019 年 09 月 25 日生效。</strong></li>
                            </ul>

                            <div class="text mb20">
                                <p><span style="line-height: 1.6;">附件一：</span></p>
                            </div>

                            <div class="title" align="center">
                                <span><strong>京东众筹回报服务规则</strong></span>
                            </div>
                            <div class="text">
                                <p>
                                    根据《京东众筹项目发起人协议》，为进一步规范发起人行为、保护支持者合法权益，制定本回报规则。本规则一经公示即成为《发起人协议》不可缺少的组成部分，发起人勾选《发起人协议》或使用《发起人协议》项下服务的，即表示已阅读并理解本规则的全部内容，同意受本规则的约束。
                                </p></div>
                            <div class="text mb20">
                                <p><strong>1. 回报的错发、漏发</strong>
                                </p>
                            </div>
                            <div class="context">
                                <div class="list mt20">
                                    <p>1.1 虚拟类回报在发货过程中出现错发、漏发或支持者收到的虚拟类回报存在质量问题的，发起人应在七日内免费予以重发或补发。

                                    </p>
                                </div>
                                <div class="list mt20">
                                    <p>1.2 实物类回报在发货过程中因非支持者原因出现的错发、漏发等情况，按照如下方式处理：<br>（1）
                                        若出现漏发情形，发起人应当在支持者告知后立即与支持者进行沟通确认，并在确认后2个工作日内进行重发或其他支持者认可的处理方式处理；
                                        <br>（2） 若出现错发情形，发起人应当在支持者告知后立即与支持者进行沟通确认，并在确认后2个工作日内进行重发或其他支持者认可的处理方式处理。
                                    </p>
                                </div>
                            </div>
                            <div class="text mb20">
                                <p><strong>2. 回报的退换服务</strong>
                                </p>
                            </div>
                            <div class="context">
                                <div class="list mt20">
                                    <p>2.1
                                        发起人承诺自支持者收到回报的15天内提供无理由退换货服务（支持者收到回报指支持者在系统对订单做确认收货或发起人在众筹管理后台上传订单的有效发货物流单号15天系统默认订单收货），支持者应保证包装、配件完整，不影响二次使用。如支持者选择退货的（支持者上传有效物流单号15天默认发起人收到退回货品），发起人应于收到退回货物之日起3个工作日内为支持者全额退款。
                                        如支持者选择换货的，发起人应于收到更换货物之日起5个工作日内完成换货处理。非质量原因的退换货行为，由支持者自行承担邮费，或双方协商处理。
                                    </p>
                                </div>
                                <div class="list mt20">
                                    <p>2.2 以下回报不适用于无理由退换货：<br>（1） 个人定作类；
                                        <br>（2） 在线下载或者已经拆封的音像制品，计算机软件等数字化类；
                                        <br>（3） 交付的报纸期刊类；
                                        <br>（4） 未经授权的维修、误用、碰撞、疏忽、滥用、进液、事故、改动、不正确的安装所造成的回报质量问题，或撕毁、涂改标贴、机器序号、防伪标记；
                                        <br>（5） 其他根据回报性质及法律规定并在众筹项目页面明确表示不适用退换货的回报。

                                    </p>
                                </div>
                            </div>
                            <div class="text mb20">
                                <p><strong>3. 服务响应时效</strong>
                                </p>
                            </div>
                            <div class="context mb20">
                                <div class="list mt20">
                                    <p>
                                        在履行项目回报义务时，发起人应积极响应支持者、京东提出的各项问题和需求。对于支持者或京东以各种形式提出的问题、需求（包括但不限于纸质函件、电话、邮件、电子数据形式），发起人应于24小时内回复处理意见或对申请完成处理，未在时效内完成处理，京东有权根据协议规定和公告在发起人众筹管理后台的平台规则要求发人承担责任。</p>
                                </div>
                            </div>

                            <div class="text mb20">
                                <p><strong>4. 特别约定</strong>
                                </p>
                            </div>
                            <div class="context mb20">
                                <div class="list mt20">
                                    <p>4.1
                                        若发起人同时在京东商城（网址：www.jd.com）开设有店铺，则发起人在京东众筹平台销售的众筹产品的售后规则应与京东商城店铺内产品的售后规则一致。如与众筹平台规则不一致的，以京东商城店铺内产品的售后规则为准。同时，众筹产品订单将同步至发起人在京东商城的店铺。</p>
                                </div>
                                <div class="list mt20">
                                    <p>4.2
                                        若发起人为京东商城（网址：www.jd.com）自营商品经营者，则发起人在京东众筹平台销售的众筹产品的售后规则应与京东商城自营产品的售后规则一致。如与众筹平台规则不一致的，以京东商城自营产品的售后规则为准。同时，众筹产品订单将同步自营商品经营者。</p>
                                </div>
                            </div>
                            <div class="text mb20">
                                <p><span style="line-height: 1.6;">附件二：</span></p>
                            </div>

                            <div class="title mb20" align="center">
                                <span><strong>营销推广服务协议</strong></span>
                            </div>
                            <div class="text" mt20="">
                                <p>若发起人使用京东营销系统开展优惠券营销活动（以下简称“优惠活动”），发起人应遵守以下优惠券服务使用约定：</p>
                            </div>
                            <div class="text mt20">
                                <p>1、 因众筹支持者参与前述优惠活动而产生的营销费用（即营销实际使用的优惠券的总金额）全部由该众筹项目的发起人承担。
                                </p>
                            </div>
                            <div class="text mt20">
                                <p>2、 发起人参加活动方式
                                </p>
                            </div>
                            <div class="context">
                                <div class="list mb20">
                                    <p>
                                        若发起人使用京东营销系统开展优惠券营销活动的，可通过邮件形式发送申请至平台指定邮箱，邮件内容需包含该项目的项目编号、优惠券金额、优惠券活动时间、可使用优惠券数量等信息。
                                    </p>
                                </div>
                            </div>
                            <div class="text mb20">
                                <p>3. 费用结算</p>
                            </div>
                            <div class="list mb20">
                                <span>3.1 费用金额</span>
                                <p>
                                    优惠活动期满后，京东通过指定邮箱将电子版结算明细发送至发起人指定邮箱,发起人应在收到后3个工作日内通过指定邮箱确认。发起人未在约定时限内确认或提出异议的，视为发起人认可该结算明细及金额。发起人应根据京东众筹平台提供的对账单金额支付相应费用。
                                </p>
                                <p>京东众筹平台指定邮箱：zcjs@jd.com </p>
                                <p>发起人指定邮箱：发起项目的对接人邮箱，如邮箱有变动的，需要提前3个工作日发邮件至京东平台指定邮箱zcjs@jd.com说明。</p>
                            </div>
                            <div class="list mb20">
                                <span>3.2	 支付方式及时间</span>
                                <p>
                                    发起人不可撤销的授权同意京东众筹平台可随时直接向网银在线发出代扣指令，按照附件二的3.1条方式确认的金额从发起人在网银在线的商户账号中直接进行划扣用以支付本协议约定的营销费用。
                                </p>
                            </div>
                            <div class="list mb20">
                                <span>3.3	退款退货</span>
                                <p>若众筹支持者要求退款退货，应将优惠券以相应形式退还给支持者。该部分的营销费用全部由发起人承担。</p>
                            </div>
                            <br>
                            <div class="text mb20">
                                <p><span style="line-height: 1.6;">附件三：</span></p>
                            </div>
                            <div class="title" align="center">
                                <span><strong>平台技术服务费特别约定：</strong></span>
                            </div>
                            <div class="text mt20">
                                <p>
                                    <span>1.  技术服务费减免约定：</span>
                                </p>
                                <p>
                                    （1）
                                    为更好的支持众筹创新项目，众筹募集期间内（即自众筹预热期起至项目成功结束），若发起人能够通过京东众筹平台的推广链接从京东以外的渠道拓展有效用户，京东按照1元/有效用户的标准对平台技术服务费进行减免，减免总金额不超过京东收取的平台技术服务费总额。
                                </p>
                                <p> 有效用户认定标准：不包含虚假数据和重复数据，京东有权根据用户访问深度、停留时长和活跃度等情况进行单方综合判断。</p>
                                <p>（2） 众筹项目成功结束后，京东按照前述标准减免其平台及技术服务费。减免的技术服务费以赠送同等价值的广告资源位的形式提供，可通过京东来客平台账户查询。</p>
                            </div>
                            <div class="text mt20">
                                <p>2.
                                    若发起人同时在京东来客平台（网址：http://lk.jd.com/bank/）开通广告投放账户且首次预充值金额超过人民币一万元，发起人可获赠与本次众筹项目支付的平台技术服务费同等价值的京东来客平台的广告资源位，可通过京东来客平台账户查询。
                                </p>
                            </div>
                            <div class="text mt20">
                                <p>3.
                                    发起人应遵守公平竞争、诚实信用原则，不得通过任何手段、以任何方式自行或者委托他人伪造有效用户，否则京东有权要求发起人返还所有减免的技术服务费，并要求发起人承担由此给京东造成的全部损失。
                                </p>
                            </div>
                            <p align="center">&nbsp;</p>
                            <p class="MsoNormal"><span lang="EN-US">&nbsp;</span></p>
                        </ol>
                    </ol>
                </div>
                <p></p>
            </div>
            <br>
            <br>
            <hr>
            <div class="wanetl"></div>
            <div class="wanetr"></div>
            <div class="wanebl"></div>
            <div class="wanebr"></div>
        </div>

        <div class="tc pt30 pb30">
            <a href="javascript:window.close()" class="common_button" id="cl">关闭</a>
        </div>
    </div>


</div>
<!--footer-->
<div class="footer">
    <div class="footer-inner">
        <div class="footer-container fl">
            <ul>
                <li><a clstag="pageclick|keycount|zcprojectsystem_201509071|49" target="_blank"
                       href="//help.jr.jd.com/show/helpcenter/110.html">关于京东金融</a><span class="v-line">|</span></li>
                <li><a clstag="pageclick|keycount|zcprojectsystem_201509071|50" target="_blank"
                       href="//help.jr.jd.com/show/helpcenter/139.html">联系我们</a><span class="v-line">|</span></li>
                <li><a clstag="pageclick|keycount|zcprojectsystem_201509071|51" target="_blank"
                       href="//help.jr.jd.com/show/helpcenter/145.html">服务协议</a></li>
            </ul>
            <p>Copyright © 2004-2015 京东JD.com 版权所有</p>
        </div>

    </div>
</div>
</body>
</html>