.bgs-sprite {
    background-repeat: no-repeat
}

.z-main {
    padding-top: 0
}

.form-title .red-block {
    background: #009aff
}

.upload-book .red-tips, .z-wrap .z-l .z-list li.current a {
    color: #009aff
}

.checkbox-normal {
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/checkbox-normal.png) 0 7px no-repeat
}

.checkbox-current {
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/checkbox-current.png) 0 7px no-repeat
}

.personal-confirm .confirm-bg1 {
    height: 151px;
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/org04.png) no-repeat;
    margin: 50px auto 15px
}

.personal-confirm .confirm-txt {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    margin-bottom: 30px
}

.order-progress .progress-step-one .progress-name .progress-name-one {
    color: #009aff
}

.order-progress .progress-step-two .progress-name .progress-name-one {
    color: #009aff;
    opacity: .8
}

.order-progress .progress-step-two .progress-name .progress-name-two {
    color: #009aff
}

.order-progress .progress-step-two .progress-name .progress-name-three {
    color: #a5a5a5
}

.order-progress.order-progress4 .progress-step-four .progress-bar, .order-progress.order-progress4 .progress-step-one .progress-bar, .order-progress.order-progress4 .progress-step-three .progress-bar, .order-progress.order-progress4 .progress-step-two .progress-bar {
    background-image: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/process4.png);
    background-repeat: no-repeat;
    width: 950px;
    height: 20px
}

.order-progress.order-progress4 .progress-step-four .progress-name .progress-name-four, .order-progress.order-progress4 .progress-step-four .progress-name .progress-name-one, .order-progress.order-progress4 .progress-step-four .progress-name .progress-name-three, .order-progress.order-progress4 .progress-step-four .progress-name .progress-name-two, .order-progress.order-progress4 .progress-step-one .progress-name .progress-name-four, .order-progress.order-progress4 .progress-step-one .progress-name .progress-name-one, .order-progress.order-progress4 .progress-step-one .progress-name .progress-name-three, .order-progress.order-progress4 .progress-step-one .progress-name .progress-name-two, .order-progress.order-progress4 .progress-step-three .progress-name .progress-name-four, .order-progress.order-progress4 .progress-step-three .progress-name .progress-name-one, .order-progress.order-progress4 .progress-step-three .progress-name .progress-name-three, .order-progress.order-progress4 .progress-step-three .progress-name .progress-name-two, .order-progress.order-progress4 .progress-step-two .progress-name .progress-name-four, .order-progress.order-progress4 .progress-step-two .progress-name .progress-name-one, .order-progress.order-progress4 .progress-step-two .progress-name .progress-name-three, .order-progress.order-progress4 .progress-step-two .progress-name .progress-name-two {
    float: left;
    width: 236px;
    margin: 10px 2px 0 0;
    font-size: 14px;
    text-align: center
}

.order-progress.order-progress4 .progress-step-four .progress-name .progress-name-four, .order-progress.order-progress4 .progress-step-one .progress-name .progress-name-four, .order-progress.order-progress4 .progress-step-three .progress-name .progress-name-four, .order-progress.order-progress4 .progress-step-two .progress-name .progress-name-four {
    margin-right: 0
}

.order-progress.order-progress4 .progress-step-one .progress-bar {
    background-position: 0 0
}

.order-progress.order-progress4 .progress-step-one .progress-name .progress-name-one {
    color: #009aff
}

.order-progress.order-progress4 .progress-step-one .progress-name .progress-name-four, .order-progress.order-progress4 .progress-step-one .progress-name .progress-name-three, .order-progress.order-progress4 .progress-step-one .progress-name .progress-name-two {
    color: #a5a5a5
}

.order-progress.order-progress4 .progress-step-two .progress-bar {
    background-position: 0 -21px
}

.order-progress.order-progress4 .progress-step-two .progress-name .progress-name-one {
    color: #009aff;
    opacity: .8
}

.order-progress.order-progress4 .progress-step-two .progress-name .progress-name-two {
    color: #009aff
}

.order-progress.order-progress4 .progress-step-two .progress-name .progress-name-four, .order-progress.order-progress4 .progress-step-two .progress-name .progress-name-three {
    color: #a5a5a5
}

.order-progress.order-progress4 .progress-step-three .progress-bar {
    background-position: 0 -42px
}

.order-progress.order-progress4 .progress-step-three .progress-name .progress-name-one, .order-progress.order-progress4 .progress-step-three .progress-name .progress-name-two {
    color: #009aff;
    opacity: .8
}

.order-progress.order-progress4 .progress-step-three .progress-name .progress-name-three {
    color: #009aff
}

.order-progress.order-progress4 .progress-step-three .progress-name .progress-name-four {
    color: #a5a5a5
}

.order-progress.order-progress4 .progress-step-four .progress-bar {
    background-position: 0 -63px
}

.order-progress.order-progress4 .progress-step-four .progress-name .progress-name-one, .order-progress.order-progress4 .progress-step-four .progress-name .progress-name-three, .order-progress.order-progress4 .progress-step-four .progress-name .progress-name-two {
    color: #009aff;
    opacity: .8
}

.order-progress.order-progress4 .progress-step-four .progress-name .progress-name-four {
    color: #009aff
}

.order-progress .progress-step-three .progress-name .progress-name-one, .order-progress .progress-step-three .progress-name .progress-name-two {
    color: #009aff;
    opacity: .8
}

.order-progress .progress-step-three .progress-name .progress-name-three {
    color: #009aff
}

.z-radios .radio-normal {
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/radio-normal.png) 0 8px no-repeat
}

.z-radios .radio-current {
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/radio-current.png) 0 8px no-repeat
}

.order-attr .attr-block:hover, .order-attr .current {
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/attr-current.png) right bottom no-repeat;
    border: 2px solid #009aff
}

.bg-white {
    background: #fff
}

.certification {
    padding: 50px 190px
}

.certification .certification-title {
    color: #333;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center
}

.certification .certification-main {
    margin-bottom: 50px
}

.certification .certification-main .img {
    width: 182px;
    height: 182px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 6px
}

.certification .certification-main .txt {
    text-align: center;
    color: #333;
    font-size: 12px;
    margin-top: 20px
}

.certification .certification-main .certification-left {
    box-sizing: border-box;
    padding: 30px 0;
    position: relative;
    float: left;
    width: 50%
}

.certification .certification-main .certification-left .img {
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/certification-1.jpg) right bottom no-repeat
}

.certification .certification-main .certification-left:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    background: #f6f6f6;
    width: 2px
}

.certification .certification-main .certification-right {
    box-sizing: border-box;
    padding: 30px 0;
    float: left;
    width: 50%
}

.certification .certification-main .certification-right .img {
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/certification-2.jpg) right bottom no-repeat
}

.add-stall-photos .z-has-photo-s, .add-stall-photos .z-has-photo-s .z-hover, .add-stall-photos .z-photo-s, .bgs-sprite, .four-photos .z-has-photo, .four-photos .z-has-photo .z-hover, .four-photos .z-has-photo .z-shade, .four-photos .z-photo, .four-photos .z-photo .z-shade, .order-progress .progress-step-one .progress-bar, .order-progress .progress-step-three .progress-bar, .order-progress .progress-step-two .progress-bar, .personal-confirm .start-org a, .personal-confirm .start-org a.unused, .personal-progress .progress-step-one .progress-bar, .project-photos .z-has-photo-x, .project-photos .z-has-photo-x .edit-delete-icon .delete-icon, .project-photos .z-has-photo-x .edit-delete-icon .edit-icon, .project-photos .z-has-photo-x .z-hover, .project-photos .z-has-photo-xl, .project-photos .z-has-photo-xl .z-hover, .project-photos .z-has-photo-xxl, .project-photos .z-has-photo-xxl .z-hover, .project-photos .z-photo-x, .project-photos .z-photo-xl, .project-photos .z-photo-xxl, .prove-imgs .z-has-photo, .prove-imgs .z-has-photo .z-hover, .prove-imgs .z-has-photo .z-hover .z-delete, .prove-imgs .z-has-photo .z-hover .z-modify, .prove-imgs .z-photo, .six-photos .z-has-photo, .six-photos .z-has-photo .z-hover, .six-photos .z-has-photo .z-shade, .six-photos .z-photo, .six-photos .z-photo .z-shade, .start-bg .start-org .enterprise a, .start-bg .start-org .enterprise a.unused, .start-bg .start-org .personal a, .start-bg .start-org .personal a.unused, .upload-book .upload-img-box .img-box .mask .edit-delete-icon .delete-icon, .upload-book .upload-img-box .img-box .mask .edit-delete-icon .edit-icon {
    background-image: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/bgs-s5820fa46d8.png)
}

.business-container {
    padding: 20px;
    background: #fff
}

.wanebox {
    border: 1px solid #dedede;
    padding: 20px;
    position: relative;
    color: #444
}

.wanebox .wanebl, .wanebox .wanebr, .wanebox .wanetl, .wanebox .wanetr {
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/wane.png)
}

.wanebox .wanetl {
    top: -1px;
    left: -1px;
    background-position: -10px -10px
}

.wanebox .wanetr {
    top: -1px;
    right: -1px;
    background-position: 0 -10px
}

.wanebox .wanebl {
    bottom: -1px;
    left: -1px;
    background-position: -10px 0
}

.wanebox .wanebr {
    bottom: -1px;
    right: -1px
}

.wanebox p {
    line-height: 25px
}

.wanebox h1 {
    text-align: center;
    font-size: 16px;
    font-family: "microsoft yahei";
    margin-bottom: 25px
}

.tips-launch {
    font-size: 14px;
    color: #5e5e5e;
    line-height: 24px;
    margin: 20px 50px 0
}

.step-register {
    font-size: 14px;
    color: #5e5e5e;
    line-height: 36px;
    margin: 20px
}

.step-register .img {
    display: block;
    width: 100%;
    margin-bottom: 20px
}

.wrap-online-review .project-success {
    padding: 90px 0;
    background: #f4f4f4;
    width: 960px
}

.wrap-online-review .project-success .project-success-title {
    font-size: 36px;
    color: #1a1a1a;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px
}

.wrap-online-review .project-success .project-success-txt {
    font-size: 14px;
    color: #1a1a1a;
    line-height: 16px;
    text-align: center
}

.wrap-online-review .order-dl .additional {
    margin-top: 10px;
    color: #a5a5a5;
    line-height: 1.25;
    padding-right: 80px
}

.wrap-online-review .project-photos .upload-number-tips-detail {
    line-height: 1.2;
    padding-top: 50px
}

.wrap-online-review .project-photos .upload-number-tips .para {
    line-height: 1.2;
    color: #000;
    margin-top: 0
}

.wrap-online-review .z-ipt-time {
    width: 145px;
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/icon-date.png) 135px center no-repeat
}

.wrap-online-review .z-ipt-time2 {
    width: 170px;
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/icon-date.png) 160px center no-repeat
}

.wrap-online-review .project-photos .z-photo-x .z-file {
    left: 0
}

.wrap-online-review .project-photos .app-no-upload {
    background: url(https://capharnaum.oss-us-west-1.aliyuncs.com/goCreate/images/bgs-s5820fa46d8.png) 0 -1540px no-repeat !important
}

.wrap-online-review .project-photos .z-photo-x {
    box-sizing: content-box;
    overflow: hidden
}

.wrap-online-review .project-photos .z-photo-x .z-img {
    position: relative;
    border: none;
    outline: 0;
    top: -1px;
    left: -1px
}

.wrap-online-review .project-photos .z-photo-x .z-file {
    width: 200px;
    height: 105px
}

.wrap-online-review .project-photos .z-photo-x .z-size {
    top: 60px
}

.wrap-online-review .project-photos .z-has-photo-x, .wrap-online-review .project-photos .z-has-photo-x .small-mask, .wrap-online-review .project-photos .z-has-photo-x .z-img, .wrap-online-review .project-photos .z-photo-x, .wrap-online-review .project-photos .z-photo-x .z-img {
    width: 200px;
    height: 105px
}

.wrap-online-review .project-photos .z-has-photo-x .edit-delete-icon {
    left: 70px;
    top: 37px
}

.wrap-online-review .project-photos .upload-number-tips {
    height: auto;
    padding-top: 80px
}

.wrap-online-review .project-photos.project-photos-1 .upload-number-tips {
    height: auto;
    padding-top: 30px
}

.wrap-online-review .project-photos .z-photo-xl {
    box-sizing: content-box;
    width: 200px;
    height: 200px;
    background-color: #f9f9f9;
    background-position: 0 -1500px
}

.wrap-online-review .project-photos .z-photo-xl .z-file {
    left: 0
}

.wrap-online-review .project-photos .z-photo-xl .z-file, .wrap-online-review .project-photos .z-photo-xl .z-img {
    width: 200px;
    height: 200px
}

.wrap-online-review .project-photos .z-has-photo-xl, .wrap-online-review .project-photos .z-has-photo-xl .z-img, .wrap-online-review .project-photos .z-has-photo-xl .z-shade, .wrap-online-review .project-photos .z-has-photo-xl:hover .z-hover {
    height: 200px
}

.wrap-online-review .project-photos .z-has-photo-xl .z-file {
    width: 200px;
    height: 200px;
    left: 0
}

.wrap-online-review .project-photos .z-has-photo-xl .z-p {
    top: 100px
}

.wrap-online-review .biger-four {
    height: auto !important
}